<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li style="list-style: none">
      <span>User: </span>
       <a href="{% url "taxi:driver-detail" pk=user.id %}"
       >{{ user.username }}</a>
    </li>
    <li style="list-style: none">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Log Out">
      </form>
    </li>
  {% else %}
    <li style="list-style: none">
      <form action="{% url 'login' %}">
        {% csrf_token %}
        <input type="submit" value="Log In">
      </form>
    </li>
  {% endif %}
  <br>
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
